<div class="container">
    <div class="col-lg-6">
        <div class="mmappblock">
            <table style="border:0; width:100%;">
                <tr>
                    <td style="width:175px;"><img src="../Content/img/anchorman.png" /></td>
                    <td><h1>Anchorman FREE</h1></td>
                    <td style="text-align:right;">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=markomarks.core.anchorman&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                        <img alt="Get it on Google Play" style="width:185px; height: 60px;" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
                        </a>
                    </td>
                </tr>
            </table>
            
            
            <p>
                <strong class="mmstrong">Responsibilities: </strong>
                Application development and design, testing and support, deployment and online promotion.
            </p>
            <p>
                “Anchorman” is a news headline aggregator and article webpage parser. The article contents are being read using the Android’s built-in text-to-speech engine. Additionally, you have an option to input your custom article url that you would like to listen.
            </p>
            <p>
                <span class="mmstrong">
                    Skills:
                </span>
                Java, Android, JSoup
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mmappblock">
            <table style="border:0;">
                <tr>
                    <td></td>
                    <td><h1>TabsOnTally</h1></td>
                </tr>
            </table>
            <p>
                <span class="mmstrong">
                    Responsibilities:
                </span>
                Application development and design, Team lead
            </p>
            <p>
                “TabsOnTally” is an open source android project that started at the "Tabs on Tallahassee" hackathon organized by the “Orlando Sentinel” and “Code For Orlando” group. The task is to build a digital tool using the Tabs on Tallahassee API that makes data from the Florida House and/or Senate easier to access and that will help everyday citizens find legislation that matters to them.
            </p>
            <p>
                The project source code:
                <a target="_blank" href="//github.com/fatdzo/TabsOnTally">github.com/fatdzo/TabsOnTally</a>
                <br />
                More information about the API can be found at <a target="_blank" href="//tabsontallahassee.com/api/">tabsontallahassee.com/api/</a>
            </p>
            <p>
                <span class="mmstrong">
                    Skills:
                </span>
                Java, Android, Ion
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mmappblock">
            <table style="border:0;">
                <tr>
                    <td></td>
                    <td><h1>JumboGames</h1></td>
                </tr>
            </table>
            <p>
                <span class="mmstrong">
                    Responsibilities:
                </span>
                Android app and Web client development, testing, software design
            </p>
            <p>
                This project was declared the winner of “Hack The Arena” event organized by the “Orlando Tech Association”, “Orlando Magic” and the “Orlando Solar Bears”. “JumboGames” allows sports teams to invite their fans to compete for prizes by playing trivia games on the Jumbotron using their mobile devices as a game controller.
            </p>
            <p>
                More information about the project can be found at: <br />
                <a target="_blank" href="//hack-the-arena.devpost.com/">hack-the-arena.devpost.com/</a>
                <br />
                <a target="_blank" href="//devpost.com/software/jumbogame">devpost.com/software/jumbogame</a>
            </p>
            <p>
                <span class="mmstrong">
                    Skills:
                </span>
                Android, Java, Javascript, Jquery, Socket.io, Create.js, Knockout.js, Bootstrap, CSS, AWS
            </p>
        </div>
    </div>
    <div class="col-lg-6" style="margin-bottom:120px;">
        <div class="mmappblock">
            <table style="border:0;">
                <tr>
                    <td></td>
                    <td><h1>MelodyGenerator</h1></td>
                </tr>
            </table>
            <p>
                <span class="mmstrong">
                    Responsibilities:
                </span>
                Application development and design, testing and support, deployment
            </p>
            <p>
                “MelodyGenerator” produces melodies with backing chords. It uses MusicXML and MIDI as an output format so that the generated melodies can be used as an input to the user’s DAW recording program of choice. The main idea is to help hobby and professional musicians in their music creation process.
            </p>
            <p>
                <span class="mmstrong">
                    Skills:
                </span>
                C#, midi-dot-net, Winforms, MusicXML
            </p>
        </div>
    </div>
    </div>