<div class="container">
    <div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmappblock">
                <h1>So you lost a leg, now what?</h1>
                <p>
                    This is a website that I have developed and that I am very passionate about. Here I will try to put as much information as possible about the challenges people are facing after an amputation. My dream is for this project to help other people in need. I was at the same spot and I couldn't find any information that could help me out. That is how this site came to be.
                </p>
                <p>
                    More information about the project can be found at <a target="_blank" href="http://www.soyoulostalegnowwhat.com/">soyoulostalegnowwhat.com</a>
                </p>
                <p>
                    ASP.net MVC, C#, Bootstrap
                </p>
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmapprow">
                <div class="mmappcellleft">
                    <center>
                        <h1>MelodyGenerator</h1>
                        <iframe width="300" height="250" src="https://www.youtube.com/embed/1pPcTroKHC8" frameborder="0" allowfullscreen></iframe>
                    </center>
                </div>
                <div class="mmappcellright">
                    <p>
                            02/20/2016 - Update:
                            At the moment I am working on a MelodyGenerator webapp. Checkout <a href="http://www.melodybrains.com/" target="_blank">melodybrains.com</a> about the current progress being made.
                    </p>
                    <p>
                        “MelodyGenerator” produces melodies with backing chords. The main idea is to help hobby and professional musicians in their music creation process. It uses MusicXML and MIDI as an output format. Generated melodies can be at the DAW recording program of your choice.
                    </p>
                    <p>
                        C#, midi-dot-net, Winforms, MusicXML
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmappblock">
                <div class="mmcellfloatcontainer">
                    <div class="mmcellfloat first">
                        <img src="../Content/img/anchorman.png" />
                    </div>
                    <div class="mmcellfloat second">
                        <h1>Anchorman FREE</h1>
                    </div>
                    <div class="mmcellfloat third">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=markomarks.core.anchorman&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                            <img alt="Get it on Google Play" style="width:185px; height: 60px;" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
                        </a>
                    </div>
                </div>
                <div class="mmclearfix"></div>
                <p>
                    “Anchorman” is a news headline aggregator and article webpage parser. The article contents are being read using the Android’s built-in text-to-speech engine. Additionally, you have an option to input your custom article url that you would like to listen.
                </p>
                <p>
                    Java, Android, JSoup
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmappblock">
                <h1>Orlando Walking Tours</h1>
                <p>
                    "Orlando Walking Tours" is an Android app that will allow users to create customized walking tours of the various historic locations around the city of Orlando.
                </p>
                <p>
                    More information about the project can be found on
                    <a target="_blank" href="https://github.com/cforlando/orlando-walking-tours-android">github</a>
                </p>
                <p>
                    Java, Android, Ion
                </p>
            </div>
        </div>
    </div>



    <!--<div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmappblock">

                <div class="mmcellfloatcontainer">
                    <div class="mmcellfloat first">
                        <img src="../Content/img/recruiterblock.png" />
                    </div>
                    <div class="mmcellfloat second">
                        <h1>Recruiter Block</h1>
                    </div>
                    <div class="mmcellfloat third">
                        <a href="https://chrome.google.com/webstore/detail/recruiterblock/ekjglojcfcmlpkbpoimgfodjpeniekhl?hl=en-US&gl=US&authuser=1" target="_blank">
                            <img src="Content/img/chromewebsoterbadge.png" />
                        </a>
                    </div>
                </div>
                <div class="mmclearfix"></div>
                <p>
                    Finding a new tech job is getting harder these days because of the increasing number of recruiting companies. They spam the job boards making it hard to spot that dream job you always wanted. If you had bad experiences with recruiting companies, or you generally just don't like them this is the app for you. RecruiterBlock tries to weed out all the job ads from recruiting and staffing companies. This Chrome extension app works with LinkedIn, Indeed, Glassdoor and Dice job boards.
                </p>
                <p>
                    More information about the RecruiterBlock can be found at <a target="_blank" href="/RecruiterBlock.html">link</a>
                </p>
            </div>
        </div>

    </div>-->

    <div class="col-lg-6">
        <div class="mmappblockcontainer">
            <div class="mmappblock">
                <h1>TabsOnTally</h1>
                <p>
                    “TabsOnTally” is an open source android project that started at the "Tabs on Tallahassee" hackathon organized by the “Orlando Sentinel” and “Code For Orlando” group. The task is to build a digital tool using the Tabs on Tallahassee API that makes data from the Florida House and/or Senate easier to access and that will help everyday citizens find legislation that matters to them.
                </p>
                <p>
                    The project source code:
                    <a target="_blank" href="//github.com/fatdzo/TabsOnTally">github.com/fatdzo/TabsOnTally</a>
                    <br />
                    More information about the API can be found at <a target="_blank" href="//tabsontallahassee.com/api/">tabsontallahassee.com/api/</a>
                </p>
                <p>
                    Java, Android, Ion
                </p>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mmbottomcontainer">
        <div class="mmappblockcontainer">
            <div class="mmappblock">
                <h1>JumboGames</h1>
                <p>
                    This project was declared the winner of “Hack The Arena” event organized by the “Orlando Tech Association”, “Orlando Magic” and the “Orlando Solar Bears”. “JumboGames” allows sports teams to invite their fans to compete for prizes by playing trivia games on the Jumbotron using their mobile devices as a game controller.
                </p>
                <p>
                    More information about the project can be found at: <br />
                    <a target="_blank" href="//hack-the-arena.devpost.com/">hack-the-arena.devpost.com/</a>
                    <br />
                    <a target="_blank" href="//devpost.com/software/jumbogame">devpost.com/software/jumbogame</a>
                </p>
                <p>
                    Android, Java, Javascript, Jquery, Socket.io, Create.js, Knockout.js, Bootstrap, CSS, AWS
                </p>
            </div>
        </div>

    </div>

</div>