<div class="container">
    <div class="jumbotron">
        <center>
            <h1>Welcome to MarkoMarksDevelopment!</h1>
            <p>Hello my name is Marko Markovic and I am an experienced full-stack developer with a pocket full of alhorithms. I have recently moved to Orlando and I am open to new opportunities.</p>
            <p>This is my portfolio</p>
        </center>
    </div>
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>
</div>