<div class="container mmbottomcontainer">
    <div class="jumbotron">
        <center>
            <h1>MarkoMarksDevelopment</h1>
            <p><b>Notice:</b> This website is under contruction. Come back from time to time because I will be adding more content.</p>
            <p>Welcome to MarkoMarksDevelopment, my name is Marko Markovic and this website is my personal software development portfolio. I consider myself a software developer with a pocket full of alhorithms.</p>
            <p>I am a recent Orlando, FL resident and I am open to new opportunities.</p>
            <p>This website is mobile friendly, feel to try it on your portable device. It was built using HTML, CSS, Dragend JS, Bootstrap and JQuery.</p>
            <p>Enjoy!</p>
        </center>
    </div>
</div>