<div class="container">
    <div class="jumbotron">
        <center>
            <h1>MarkoMarksDevelopment</h1>
            <p><b>Notice:</b> Sorry about the mess, the website is under contruction :)</p>
            <p>Welcome, my name is Marko Markovic and I am the guy behind MarkoMarksDevelopment. I consider myself a full-stack developer with a pocket full of alhorithms. <br />Only recently I have moved to Orlando, FL and I am open to new opportunities.</p>
            <p>Enjoy my portfolio</p>
        </center>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                This website is mobile friendly, feel to try it on your devic. It was built using HTML, CSS, Bootstrap and JQuery.
            </p>
        </div>
    </div>
</div>