<div class="container">
    <div class="col-lg-12">
        <div class="mmappblockcontainer">
            <div class="mmappblock mmsmallappblock">
                <h1>
                    Experience
                </h1>
                <p>
                    <span class="mmstrong"> “Right Brain Media” — .NET developer (June 2016- today)</span>
                </p>
                <p>
                    Design, development and management of new web applications, maintaining, debugging, refactoring, testing and support, project deployment, performance improvements and adding new features for their existing web applications.
                    The work is being done on a contract basis with different companies and organizations. Some of the clients that I worked for and still working for are Darden, USSSA, Safer foundation and etc.
                </p>
                <p>
                    <i>Technologies</i>: ASP.NET, C#, Javascript, AngularJS, jQuery, HTML, CSS, Bootstrap, MSSQL, JSON, XML, WCF services, DNN, Jira
                </p>
                <p>
                    <span class="mmstrong"> “Visit.com Adriatic” — Programmer/Web developer (June 2012- July 2015)</span>
                </p>
                <p>
                    Developing new and maintaining existing web applications, code analysis and review, debugging, testing and support, communicating with the clients, project deployment, performance improvements, adding new features, documenting functionalities.
                    Using agile development techniques we have worked on multiple projects in the tourism industry. ”Visit.com Adriatic” is a subcontractor for “Visit Technology Group”, Sweden.
                </p>
                <p>
                    <i>Technologies</i>: ASP.NET MVC, C#, Javascript, Knockout.js, jQuery, HTML, CSS, Bootstrap, MSSQL, RavenDB, WCF services, Web API, DNN, Youtrack, TeamCity, XML
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="mmappblockcontainer">
            <div class="mmappblock mmsmallappblock">
                <h1>
                    Projects
                </h1>
                <p>
                    <span class="mmstrong">So you lost a leg, now what?</span>&nbsp;
                    This is a website that I have developed and that I am very passionate about.
                    Here I will try to put as much information as possible about the challenges people are facing after an amputation. My dream is for this project to help other people in need. I was at the same spot and I couldn't find any information that could help me out. That is how this site came to be.

                    More information about the project can be found at <a href="http://www.soyoulostalegnowwhat.com" target="_blank">soyoulostalegnowwhat.com</a>
                </p>
                <p>
                    <span class="mmstrong">JumboGames</span>&nbsp;allows sports teams to invite their fans to compete for prizes by playing trivia games on the Jumbotron using their mobile devices as a game controller.
                </p>
                <p>
                    <span class="mmstrong">TabsOnTally</span>&nbsp; displays the latest bills and the votes from the user’s representative legislators. It uses the Tabs on Tallahassee API, powered by the Orlando Sentinel, which gives you access to the actions of Florida’s legislature.
                </p>
                <p>
                    <span class="mmstrong">Orlando Walking Tours</span>&nbsp; is an app that will allow users to create customized walking tours of the various historic locations around the city of Orlando.
                </p>
                <p>
                    <span class="mmstrong">Anchorman Free</span>&nbsp; is a news headline aggregator and article webpage parser app. The headlines and article contents are being read using the text-to-speech engine.
                </p>
                <p>
                    <span class="mmstrong">MelodyGenerator</span>&nbsp; generates random melodies with backing chords. The main idea is to help hobby and professional musicians in their music creation process.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="mmappblockcontainer mmbottomcontainer">
            <div class="mmappblock mmsmallappblock">
                <h1>
                    Awards
                </h1>
                <p>
                   <span class="mmstrong">2016 HackTheArena</span> - Member of the winning team <strong class="mmstrong">JumboGames</strong> organized by the Orlando Tech Association, Orlando Magic and the Solar Bears
                </p>
                <h1>
                    Groups
                </h1>
                <p>
                    Dedicated member of the <a href="http://www.codefororlando.com/" target="_blank">Code For Orlando</a> group.
                </p>
                <h1>
                    Education
                </h1>
                <p>
                    University of Belgrade/Faculty of Mathematics  — Belgrade, Serbia
                    <strong>M.S. Computer Science, Mathematics (2012)</strong>
                </p>
                <h1>
                    Interests
                </h1>
                <p>
                    Programming, composing and performing music, algorithmic music composition, cycling
                </p>
            </div>
        </div>
    </div>

</div>