<div class="container">
    <div class="col-lg-6">
        <div class="mmappblock">
            <div class="mmstrong mmcenter">
                Summary
            </div><br />
            <p>
                <ul class="mmul">
                    <li class="mmli"> Working on different platforms and programming languages</li>
                    <li class="mmli"> Full Stack developer</li>
                    <li class="mmli"> More than three years of professional experience implementing and supporting large scale solutions</li>
                    <li class="mmli">Team leader and team player</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mmappblock mmappblockclear">
            <div class="mmstrong mmcenter">
                Skills
            </div><br />
            <p>
                <ul class="mmul">
                    <li class="mmli">C#, Java</li>
                    <li class="mmli">
                        ASP.NET, HTML,
                        CSS,
                        Bootstrap,
                        Javascript,
                        Knockout.js,
                        JQuery,
                        Socket.io,
                        CreateJS,
                        Dragend JS
                    </li>
                    <li class="mmli">
                        SQL (MySql, MS SQL),
                        RavenDB
                    </li>
                    <li class="mmli">
                        Ion, Gson, Socket.io
                    </li>
                    <li class="mmli">
                        XML, MusicXML, Midi
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>