<div class="container">
    <div class="col-lg-6">
        <div class="mmappblock mmsmallappblock">
            <h1 class="mmstrong mmcenter">
                Summary
            </h1>
            <p>
                <ul class="mmul">
                    <li class="mmli">Working on different platforms and programming languages</li>
                    <li class="mmli">Full Stack developer</li>
                    <li class="mmli">More than three years of professional experience implementing and supporting large scale solutions</li>
                    <li class="mmli">Team leader and team player</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mmappblock mmsmallappblock">
            <h1 class="mmstrong mmcenter">
                Skills
            </h1>
            <p>
                <ul class="mmul">
                    <li class="mmli">C#, Java</li>
                    <li class="mmli">ASP.NET, HTML,
                        CSS,
                        Bootstrap,
                        Javascript,
                        Knockout.js,
                        JQuery,
                        Socket.io,
                        CreateJS,
                        Dragend JS
                    </li>
                    <li class="mmli">SQL (MySql, MS SQL),
                        RavenDB
                    </li>
                    <li class="mmli">Ion, Gson, Socket.io
                    </li>
                    <li class="mmli">XML, MusicXML, Midi
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-lg-12" style="margin-bottom:125px;">
        <div class="mmappblock mmsmallappblock">
            <h1 class="mmstrong mmcenter">
                Experience
            </h1>
            <p>
                <span class="mmstrong"> “Visit.com Adriatic” — Programmer/Web developer</span>
            </p>
            <p>
                June 2012- July 2015
            </p>
            <p>
                Responsibilities: Developing new and maintaining existing web applications, code analysis and review, debugging, testing and support, communicating with the clients, project deployment, performance improvements, adding new features, documenting functionalities.
            </p>
            <p>
                Using agile development techniques we have worked on multiple projects in the tourism industry. ”Visit.com Adriatic” is a subcontractor for “Visit Technology Group”, Sweden.
                <br />
                <span class="mmstrong">Skills:</span> C#, ASP.Net MVC, WCF, ASP.NET Web Service, MS SQL, RavenDB, Javascript, Knockout.js, Bootstrap, JQuery, CSS
            </p>
        </div>
    </div>
</div>