/* Portrait */
@media screen and (orientation:portrait) {  
    #dragend-container {
        height:100vh!important;
    }
    .dragend-page {
        height:100vh!important;
    }
    .container {
        height: 100vh!important;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {

    .container{
        height:100vh!important;
    }
}

*{
      padding: 0;
      margin: 0;
      border: 0;
      font-size:25px;
      font-family:"Trebuchet MS", Helvetica, sans-serif;
}
body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    height: 100%;
}

p {
    font-style:italic;
    text-align:justify;
    font-size:25px!important;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-indent: 50px;
    width:100%;
}

a {
    color:#59acc3;
}
    a:hover {
        color:#AAD5E1;
        text-decoration:none;
    }
    

h1 {
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif'!important;
    font-weight:normal!important;
    margin-bottom:20px;
    margin-top:20px;
}

h1.landingheadline {
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif'!important;
    font-weight:normal!important;
    font-size:60px;
    margin-bottom:20px;
    margin-top:20px;
}

h2.landingheadline {
    font-weight:normal!important;
    font-size:40px;
    font-style:italic;
    margin-bottom:20px;
    margin-top:20px;
}

ul.mmul{ 
    list-style-type: none 
} 
li.mmli:before { 
    content: "-"; font-size: 36px; 
}

#dragend-container {
    position:relative;
    display:block;
      width: 100%;  
      height:100vh;    
      margin: 0 auto;  
      z-index:2;
}

#dragend {
    color: #fff;
    border-radius: 3px;
    width: 150px;
    font-size: 15px;
}


.dragend-page {
    width:100%;
    height:100vh;
    padding:0;
    margin:0;
}

.grad {
   
    
    color:white;
    padding:0;
    margin:0;
}

.gradfiller {
    background-image: url("../../Content/img/jg_background_pattern.png");
    background-repeat: repeat;   
}

.mmmiddle {
    width:100%;
    position:absolute;
    text-align:center;
    bottom:50%;
}

.mmresultlist {
   position: absolute;
   box-shadow: 15px 15px 30px #000000;
   overflow-y:auto;
   overflow-x:hidden;
   top:250px;
   bottom:75px;
   width: 100%;
   text-align:center;
}


.mmheader {
    position:relative;
    display:block;
    padding-top:20px;
    padding-bottom:20px;
    top:0;
    z-index:3;
}

.mmstrong {
    font-weight:bold;
    color:#AAF0D1;
    font-size:x-large;
    font-style:normal;
}
.mmstronger {
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif'!important;
    font-style:normal;
}

.mmcenter {
    text-align:center;
}

.mmappblockcontainer {
    display:table;
    border-radius:20px;
    background-color:rgba(42, 76, 83, 0.6);
    width:100%;
    padding:10px;
    padding-top:15px;
    padding-left:30px;
    padding-right:30px;
}

.mmappblock {
    display:table-cell;
    vertical-align: middle;
    border-radius:20px;
    height:600px;
}

.mmcellfloatcontainer {
    width:100%;
}

.mmcellfloat {
    position:relative;
    float: left;
}

    .mmcellfloat.first {
        width:175px;
    }
    .mmcellfloat.second {
        padding-top:35px;
        height:150px;
    }
    .mmcellfloat.third {
        padding-top:35px;
        float:right;
        text-align:right;
    }

.mmclearfix {
    clear:both;
}

.mmappcellleft {
    display:table-cell;
    vertical-align: middle;
    height:600px;
    padding:10px;
}
.mmappcellright {
    display:table-cell;
    vertical-align: middle;
    height:600px;
    padding:10px;
}
.mmapprow {
    display:table-row;
    width:100%;
}

.mmappmerged {
    display:table-cell;
    width:100%;
}

.mmsmallappblock {
    height:420px;
}

.mmappblockclear {
    background-color:transparent;
}

.mmcardcontainer {
    padding-top:20px;
    margin-bottom:80px;
    max-width:600px;
}

.mmcard {
    border-radius:10px;
    background-color:rgba(42, 76, 83, 0.6);
    display:inline-block;
    width:170px;
    height:170px;
    margin:10px;
    margin-bottom:25px;
    padding:10px;
}

.mmcardemail {
    border-radius:10px;
    background-color:rgba(42, 76, 83, 0.6);
    display:inline-block;
    width:400px;
    height:65px;
    margin:10px;
    margin-bottom:25px;
    padding:10px;
    cursor:pointer;
}

.mmcardemail:hover {
    background-color:rgba(64, 96, 103, 0.5);
}

.mmcard a {
    border:0;
}

.mmcardemail a {
    font-size:30px;
}

.mmcardemail a:hover
{
  text-decoration:none;
  font-style:normal;
  color:#59acc3;
}

.mmcard img {
    width:150px;
    height:150px;
}

.mmbottomcontainer {
    margin-bottom:125px;
}

/* Bootstrap */
.jumbotron {
    background-color:rgba(42, 76, 83, 0.6);
}

.btn {
    width:150px;
    margin-left:15px;
    background-color:#6097a5 !important;
    color: white;
    font-weight:bold;
    font-size:25px;
}

.col-lg-6 {
    padding-top:10px;
    padding-bottom:10px;
}

.col-lg-12 {
    padding-top:10px;
    padding-bottom:10px;
}

.container {
    width:100%; 
    overflow-y:auto; 
    position:relative;
    height: 100%;
}
