body {
}

label {
    display:inline-block;
    min-width:100px;
}

label span {
    display:inline-block;
    min-width:50px;
}

.mmplayerscontainer {
    
}

.mmgamearea {
    
}
.mmfooter {
    
}

.mmgamearea {
    background:burlywood;
}
.mmplayerinformation {
    float:left;
}
.mmgameinformation {
    width:200px;
}
.mmgamecanvas {
}
.mmgamecontrols {
}

.mmclear {
    clear:both;
}